@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-image: url('/img/logo_LSSD.png');
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(8, 14, 4, 0.83);
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

label {
  @apply block pb-1;
}

input, select {
  @apply border rounded h-14 p-3 my-3 inline-block text-black;
}
